<div class="round">
		    <!-- Swiper -->
	    <div class="swiper-container">
	        <div class="swiper-wrapper">
	        	<div class="swiper-slide" data-f="http://tb.cn/2dMMcYx" data-c="#">
	        		<a>
	        			<img class="banner-img" width="100%" src="img/2-1_1.png"/>
	        		</a>
	        	</div>
	            <div class="swiper-slide" data-f="#" data-c="复制这条信息，打开👉手机淘宝 👈即可看到【英菲尼迪  非凡搭档冠军预测福袋】￥AAEhetec￥">
	            	<a>
		            	<img class="banner-img" width="100%" src="img/2-1_2.png"/>
	            	</a>
	            </div>
	            <div class="swiper-slide" data-f="https://luckygo.ews.m.jaeapp.com/?i=MBzRFzLDzRGzMCzRJzLDzSDzMAzRG" data-c="#">
	            	<a>
		            	<img class="banner-img" width="100%" src="img/2-1_3.png"/>
	            	</a>
	            </div>
	            <!--<div class="swiper-slide"><img class="banner-img" width="100%" src="img/banner-01.png"/></div>-->
	        </div>
	        <div class="swiper-pagination"></div>
	    </div>
	    <!-- Swiper End-->
	    <div class="btns">
	    	<span class="left_btn" ng-click="to4Page()"></span>
	    	<span class="right_btn" ng-click="tmall_p2()"></span>
	    </div>
</div>
<section id="arrow_up">
	<a href="#">
		<span></span>
		<span></span>
		<span></span>
	</a>
</section>