<div class="round">
		    <!-- Swiper -->
	    <div class="swiper-container">
	        <div class="swiper-wrapper">
	        	<div class="swiper-slide">
	        		<a>
	        			<img class="banner-img" width="100%" src="img/2-1_1.png"/>
	        		</a>
	        	</div>
	            <div class="swiper-slide">
	            	<a>
		            	<img class="banner-img" width="100%" src="img/2-1_2.png"/>
	            	</a>
	            </div>
	            <div class="swiper-slide">
	            	<a>
		            	<img class="banner-img" width="100%" src="img/2-1_3.png"/>
	            	</a>
	            </div>
	            <!--<div class="swiper-slide"><img class="banner-img" width="100%" src="img/banner-01.png"/></div>-->
	        </div>
	        <div class="swiper-pagination"></div>
	    </div>
	    <!-- Swiper End-->
	    <div class="btns">
	    	<span class="left_btn"></span>
	    	<span class="right_btn"></span>
	    </div>
</div>
<section id="arrow_up">
	<a href="#">
		<span></span>
		<span></span>
		<span></span>
	</a>
</section>